DATABASE_URL=<my-azure-postgresql-connection-string>
REDIS_URL=<Render-Key-Value-Redis-connection-string>
ACTIVE_CLIENTS_URL=https://applywizz-ca-management.vercel.app/api/active-clients
CLIENT_DETAILS_URL=https://www.apply-wizz.me/api/get-client-details
JOB_ROLES_URL=https://dashboard.apply-wizz.com/job-roles/
MAX_JOBS_PER_SEARCH=30
HOURS_OLD=72
